

:root {
    --primary-color: #f3eae5;
    --text-dark: #000000;
    --white:#ffffff;
    --dark-green: #142105;
    --dark-moss: #5B6443;
    --meduim-moss:#406D04;
    --avocado: #589B18;
    --yellow-green: #ACC61D;
    --cerulean: #187795;
    --blue: #2589BD;
    --amber: #F5BB00;


}
html, body {
    overflow-x: hidden;  /* Prevents horizontal scroll */
    overflow-y: auto;  /* Enables vertical scrolling */
    min-height: 100vh;
}



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Arial';
        
}

.btn{
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
img {
    display: flex;
    width: 100%;
    justify-content: center;
   

}

a{
    text-decoration: none;
    transition: 0.3s;
}

body{
    font-family: 'Arial';
      
        

}

/* Navigation */

nav{
    position:fixed;
    isolation: isolate;
    width: 100%;
    z-index:9;
    background-color: var(--avocado);
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__header{

    padding: 1rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--meduim-mo);

}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between logo and text */
    
}

.nav__logo a {
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}

.nav__logo .logo1 {
    max-width: 70px;
    height: auto;
    display: inline-block;
}

.nav__menu__btn {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}


.nav__links{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 3rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--avocado);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%); 
}

.nav__links.open{
    transform: translateY(0);
}

.nav__links a{
    font-weight: 500;
       font-size: 22px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    
}

.nav__links a:hover{
    color: var(--avocado);
  
}

.nav__btns{
    display: none;
    
}


.container {
    display: grid;
    gap: 1rem ;
    position: relative;
    min-height: 88vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    grid-template-columns: 1fr 1fr;
  
    
}

.container__left{
    padding-inline: 1.5rem;
    margin-left: 10px;
    text-align: center;
  
   
}

.container__left h1{
    margin-bottom: 3rem;
    margin-top: -2rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color:var(--text-dark)
    
    
}

.container__left h2{
    margin-bottom: 1.5rem;
    margin-top: -2rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    color:var(--text-dark)
}

.container__left h3{
    margin-bottom:2rem;
    margin-top: -3rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 2rem;
    color:var(--text-dark)
    
}
.container__left .btn{
    padding: 1.5rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--meduim-moss);
    border-radius: 5rem;
    margin-top: 10px;
    font-size:15px;
}

.container__left .btn:hover{
    color: var(--text-dark);
    background-color: var(--yellow-green);

}

.container__right {
    display: flex;
    align-items: center; 
    overflow: hidden;
 

}


.container__right::before{
    position: absolute;
    bottom: 0;
    left: 10px;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 100px;
    border-radius: 1rem;
    z-index: -1;
    animation: show .75s 1.25s ease-in-out forwards;
}

.images {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.KALUPPA {
    max-width: 200%;
    height: 100%;
    object-fit: cover; /* Will ensure the image is fully visible */
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}


/* Mobile responsiveness for smaller screens */
@media (max-width: 1024px) {
    .container__left {
        padding-inline: 1rem;
    }

    .container__left h1 {
        font-size: 2rem;
        margin-bottom: 5rem;
        
     
    }

    .container__left h2 {
        font-size: 2.5rem;
        margin-top: 100px;
    }

    .container__left h3 {
        font-size: 18px;
        margin-top: 10px;
    }

    .container__left .btn {
        padding: 1rem 1.5rem;
        font-size: 14px;
    }

    .container__right {
        width: 100%;
        margin-left: 0;
        justify-content: center; /* Center the image container */
    }

    .KALUPPA {
        height: 300px; /* Adjust image height for smaller screens */
        object-fit:cover;
    }
}

/* Mobile View for Extra Small Devices */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Stack the content */
        text-align: center;
    }

    .container__left {
        margin: 0 auto;
        padding: 1rem;
    }

    .container__left h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .container__left h2 {
        font-size: 2rem;
    }

    .container__left h3 {
        font-size: 16px;
        margin-bottom: 1.5rem;
    }

    .container__left .btn {
        padding: 1rem 1.5rem;
        font-size: 14px;
    }

    .container__right {
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }

    .KALUPPA {
        height: 250px; /* Adjust height for smaller devices */
    }
}

@media (max-width: 480px) {
    .container__left h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .container__left h2 {
        font-size: 1.8rem;
    }

    .container__left h3 {
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .container__left .btn {
        padding: 1rem 1.2rem;
        font-size: 12px;
    }

    .KALUPPA {
        height: 200px; /* Adjust image height for very small screens */
    }


}

.climate-change{
    padding: 0; /* Remove any padding to maximize space */
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent overflow on small screens */
} 

.content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
    gap: 40px;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.image-container img {
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.advocate-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgb(0, 0, 0, 0.2);
}

.text-container{
    flex:1.5;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
}

.text-container h2{
   margin-bottom: 30px;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2rem;
    color: var(--amber);
    
    
}
.text-container p{
    line-height: 1.75rem;
    color: var(--text-dark);
    font-weight: 500;
    font-size: 25px;                 
}



.success-story {
    padding: 0;
    display: flex;
    background-color: var(--meduim-moss);
    align-items: center;
    justify-content: center;
    height: 75vh;
    border-radius: 10px;
   overflow: hidden;
  
    
}

.story-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

}

.video-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
    min-width: 50%;

}

.video-container iframe {
    width: 100%;
    max-width: 1000px;
    height: 100%;
  justify-content: center;
  align-items: center;
   min-height: 356px;
   max-height: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  
}

.story-text{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);

}

.story-text h2{
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2rem;
 
}

.story-text p{
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 20px; 
    margin-bottom: 18px;
    margin: 0;
}

.advocate-btn {
    background-color: var(--avocado);
    color: var(--white);
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
    margin-top: 35px;
   
}

.learn-btn{
    background-color: var(--white);
    color: var(--text-dark);
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
    margin-top: 30px;
}

.advocate-btn:hover, .learn-btn:hover {
    background-color: var(--yellow-green);
}




 /* Responsive Design */
 @media (max-width: 1024px) {
    .climate-change {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .image-container,
    .text-container {
        max-width: 100%;
        text-align: center;
    }

    .text-container h2 {
        font-size: 24px;
    }

    .text-container p {
        font-size: 16px;
    }

    .advocate-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
    .climate-change {
        height: auto; /* Allow it to expand based on content */
        padding: 20px 10px;
    }

    .content-wrapper {
        flex-direction: column; /* Stack image and text vertically */
        gap: 20px; /* Smaller gap for mobile */
        align-items: center; /* Center content for smaller screens */
        text-align: center; /* Center text */
    }

    .text-container {
        max-width: 100%; /* Use full width on mobile */
        padding: 0 15px; /* Add some padding */
    }

    .text-container h2 {
        font-size: 22px;
        line-height: 1.5rem;
    }

    .text-container p {
        font-size: 18px;
        line-height: 1.5rem;
    }

    .advocate-btn {
        width: 90%; /* Full width button */
        max-width: 400px; /* But not too wide */
        padding: 12px;
    }

    .image-container img {
        max-width: 250px; /* Smaller image on mobile */
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 992px) {
    .story-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .video-container, .text-container {
        flex: 1 1 100%;
    }

    .text-container {
        align-items: center;
    }

    .cta-button {
        align-self: center;
    }

    .video-container iframe {
        min-height: 250px; /* Smaller video on narrow screens */
    }
}
 

@media (max-width: 480px) {
    .content-wrapper, .story-container {
        flex-direction: column; /* Stack content vertically */
        align-items: center;
        gap: 15px;
    }

    .story-container h2 {
        font-size: 16px;
    }

    .story-container p {
        font-size: 14px;
    }

    .story-text {
        max-width: 100%;
    }

    .video-container iframe {
        width: 100%;
        height: 150px;
    }

    .learn-btn {
     
        padding: 8px 14px;
        font-size: 12px;
    }

    .advocate-btn {
        padding: 8px 14px;
        font-size: 12px;
    }
}




.community-engagement {
    padding: 0;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden;
  
}

.engagement-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
   
}

.photo-container{
    flex: 1;
    display: flex;
   justify-content: center;
    align-items: center;
    max-width: 50%;
}
  
.photo-container img{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}   
 
.Community-Engagement{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    box-shadow:  0px 4px 12px rgb(0, 0, 0, 0.2);

}
 
.info-container{
    flex: 1.5;
    background-color: var(--white);
    max-width: 600px;
}



.info-container h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2rem;
    color: var(--amber);
}

.info-container p {
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 25px; 
}


.engage-btn {
    background-color: var(--meduim-moss);
    text-align: center;
    color: var(--white);
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
    margin-top: 30px;
}

.engage-btn:hover{
    background-color: var(--yellow-green);
}
    


.testimonials-section {
    background-color: var(--meduim-moss);
    color: var(--text-dark);
    padding: 40px;
    text-align: center;
  }
  
  .testimonials-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--white);
  }
  
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
  }
  
  .testimonial {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  
  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    object-fit: cover;
    margin-bottom: 20px;
   
  }
  
  .testimonial .quote {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-style: italic;
    text-align: left;
  }
  
  .testimonial .name {
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .testimonial .info {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-dark);
  }
  
  .testimonial:hover {
    background-color: var(--amber);
  }
  


/* Mobile responsiveness */
@media (max-width: 768px) {
    .testimonials {
      grid-template-columns: 1fr 1fr;
    }
  
    .testimonial {
      padding: 15px;
    }
  
    .testimonial img {
      width: 80px;
      height: 80px;
    }
  
    .testimonial .quote {
      font-size: 1rem;
    }
  
    .testimonial .name {
      font-size: 1.2rem;
    }
  
    .testimonial .info {
      font-size: 0.9rem;
    }
  }
  
  /* Mobile view for extra small devices */
  @media (max-width: 480px) {
    .testimonials {
      grid-template-columns: 1fr;
    }
  
    .testimonial img {
      width: 70px;
      height: 70px;
    }
  
    .testimonial .quote {
      font-size: 1rem;
    }
  
    .testimonial .name {
      font-size: 1.1rem;
    }
  
    .testimonial .info {
      font-size: 0.8rem;
    }
  }

.affiliations-accreditations {
    text-align: center;
    padding: 40px 10%;
    background-color: var(--white);
}

.section-title {
    font-size: 28px;
    font-weight: bold;
    color: var(--meduim-moss);
    margin-bottom: 5px;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.logos-container img {
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .logos-container {
        gap: 20px;
    }

    .logos-container img {
        max-width: 100px;
    }
}

footer {
    background: var(--avocado);
    color: var(--white);
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
  margin-top: 10px;
  bottom: auto;

}


.footer-container {
    display: flex;
    justify-content: space-between;
    background: #EAEAEA;
    padding: 20px;
    text-align: left;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    font-size: 18px;
}

.footer-section h3 {
    color: var(--text-dark);
    font-weight: bold;
   
}



.footer-section p {
    color: var(--text-dark); /* Ensuring high contrast */
    font-weight: 500;
    font-size: 16px;
    color: var(--meduim-moss);
    margin-bottom: 10px;
    margin-top: 5px;
}



.footer-section a {
    color: var(--text-dark); /* Ensuring high contrast */
    font-weight: 500;
    font-size: 18px;
    color: var(--meduim-moss);
}

.footer-section a:hover {
    text-decoration: underline;
    color: var(--meduim-moss);
}

.socials {
    display: flex;
    gap: 20px;
    font-size: 40px;
    font-size: 20px;
    
    padding: 5px 5px;
   margin-top: 5px;
    
}


.socials a i {
    transition: transform 0.3s ease-in-out;
    font-size: 40px;
}

.socials a:hover i {
    transform: scale(1.2);
}

.footer-text {
    text-align: center;
    padding: 5px;
    background: var(--meduim-moss);
    color: white;
    font-weight: 600;
    font-size: 18px;
}




/*.contacts{
    
        position: ;
        left: 1rem;
        bottom: rem;
        padding: 1rem 2rem 1rem 1rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: .9rem;
        font-weight: 600;
        color: var(--text-dark);
        background-color: var(--primary-color);
        border: 10px solid var(--white);
        border-bottom: none; 
        
}
/*.location{
    position: ;
    left: 1rem;
    bottom: 2rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border: 10px solid var(--white);
    border-bottom: none; 
    } */

  /*  footer {
        background: #228B22;
        color: white;
        padding: 20px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    
    .socials {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding-bottom: 10px;
    }
    
    .socials a {
        font-size: 1.5rem;
        color: white;
        transition: color 0.3s ease-in-out;
    }
    
    .socials a:hover {
        color: #f3eae5;
    }
    
    /* Prevent content from being hidden under footer */ 
   

@media (width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
.nav__header{
    flex: 1;
    padding: 0;
    background-color: transparent;
}

.nav__logo a{
    color: var(--white);
}

.nav__menu__btn{
    display: none;
}

.nav__links{
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
}

.nav__links a,
.nav__links a:hover {
    color: var(--white);
}

.nav__btns{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__btns .btn{
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: transparent;
    }

    .container{
        grid-template-columns: 1fr 2fr;
        align-items: center;
        padding: 2rem 0;
        flex-direction: column;
    }


 .container__right .images{
    display: flex;
    flex-direction: column;

 }
    

}

@media (width > 1024px) {
    
    .container__right {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .container__right::before {
        bottom: unset;
        top: 0;
        height: 100%;
    }

    .images{
        flex-direction: column;
    }



    .content {
        padding-block: 5rem;
        text-align: left;
    
        max-width: 450px;
      margin-right: 20px;
        }


}
