#certificatePreview {
    font-family: 'Georgia', serif;
    border: 10px double #444;
    padding: 30px;
    background: #fff;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #certificatePreview, #certificatePreview * {
        visibility: visible;
    }
    #certificatePreview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: none;
    }
}
