/* Ensure the html and body elements are full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Sidebar Styling */
.sidebar {
    height: 100vh;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    transition: all 0.3s;
}

.sidebar .text-center {
    margin-bottom: 20px;
}

.sidebar .text-center img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar .text-center h5 {
    margin-top: 10px;
    font-size: 18px;
}

.sidebar .nav {
    flex-direction: column;
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #555;
    color: #fff;
    transform: translateX(5px);
}

.sidebar .nav-link.active {
    background-color: #333;
    color: #fff;
    position: relative;
}

.sidebar .nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #fff;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.sidebar .btn {
    margin-top: auto;
    border-radius: 5px;
    background-color: #dc3545;
    border-color: #c82333;
}

.sidebar .btn-danger {
    background-color: #dc3545; /* Red background */
    border: none;
    transition: background-color 0.3s ease, transform 0.3s;
}

.sidebar .btn-danger:hover {
    background-color: #c82333; /* Darker red on hover */
    transform: scale(1.05);
}

.container {
    margin-left: 270px;
    padding: 20px;
}

